.div-formulario-login-reg{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.titulo-form-login{
    align-self: center;
    justify-self: flex-start;
}

.formulario-login{
    margin: 2rem 0 0 0 !important;
    padding: 0;
}

.formulario-login button{
    width: 100%;
}

.formulario-login-label{
    margin-top: 0.5rem;
}
