.div-formulario-login-reg{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #f8f9fa;
    justify-content: center;
    box-sizing: border-box;
    padding: 1.5rem 3rem 0 3rem;
    border-radius: 10px;
    min-height: 60vh;
    min-width: 65vh;
    justify-content: flex-start;
}

.titulo-form-login{
    align-self: center;
    justify-self: flex-start;
}

.formulario-login{
    margin-top: 2rem;
}

.formulario-login-label{
    margin-top: 0.5rem;
}
