.card-atividade{
    display: flex;
    position: relative;
    flex-direction: column;
    height: 150px;
    width: 200px;
    min-width: 200px;
    background-color: var(--color-4);
    border-radius: 10px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
    transition: all .3s ease-in-out 0s;
}

.card-atividade-desabilitada{
    display: none;
    position: absolute;
    background-color: #3a37376c;
    z-index: 3;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.card-atividade.professor:hover,
.card-atividade.aluno.conc:hover,
.card-atividade.aluno.conc + .card-atividade-ligacao + .card-atividade.aluno.nao-conc:hover{
    transform: scale(1.1); 
    cursor: pointer;  
}

.card-atividade.aluno.nao-conc .card-atividade-desabilitada{
    display: block ;
}

.card-atividade.aluno.conc + .card-atividade-ligacao + .card-atividade.aluno.nao-conc .card-atividade-desabilitada{
    display: none !important;
}

/* para trilhas sem nenhuma atividade concluída */
.card-atividade.aluno.nao-conc.forcar-habilitada + .card-atividade-ligacao + .card-atividade.aluno.nao-conc .card-atividade-desabilitada{
    display: block ;
}

.card-atividade.aluno.nao-conc.forcar-habilitada .card-atividade-desabilitada{
    display: none !important;
}

.card-atividade-header{
    background-color: var(--color-1);
    border-radius: 8px 8px 0 0;
    border-color: var(--color-1);
    border: 1px solid var(--color-1);
    border-bottom: 0px;
    box-sizing: border-box;
    color: white;
    font: 700;
    padding: 0.7rem;
    font-size: 1.1rem;
}

.card-atividade-header.texto{
    background-color: var(--color-1) !important;
}

.card-atividade-header.trilha{
    background-color: var(--color-2) !important;
}

.card-atividade-header.quest{
    background-color: var(--color-3) !important;
}

.card-atividade-body{
    height: 100%;
    padding: 0.5rem;
    font-size: 14px;
    border: 1px solid var(--color-1);
    border-top: 0px;
    border-radius:0 0 8px 8px;
}

.card-atividade-ligacao{
    min-width: 50px;
    width: 100px;
    min-height: 1rem;
    background-color: var(--color-3);
}

.label-ativ-conc{
    color: green;
}

.label-ativ-nao-conc{
    color: red;
}