.border-right{
  border-right: 1px solid var(--color-1);
}

.form{
  padding-top: 5em;
}

.form .title-form{
  padding: 5px 5rem;
  font-size: 1.3rem;
  font-weight: bold;
}

.form .form-group textarea{
  width: 100%;
  padding: 0.5em 1rem;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: var(--color-4);
  border: 1px solid var(--color-3);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.form .form-group label{
  font-size: 1rem !important;
}

.form .input-name{
  width: 100%;
  padding: 0.5em 1rem;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: var(--color-4);
  border: 1px solid var(--color-3);
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
}

.form .btns-form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.form .btns-form > .btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: var(--color-1);
  border: none;
  font-weight: bold;
  font-size: 1.1rem;
}

.form .btns-form > .btn i.bi{
  font-size: 1.6rem;
  margin-left: 5px;
}

.content-cards .card{
  margin: 0.5rem 0;
}