.trilhas-infos{
    margin-top: 2rem;
}

.trilhas-infos-tit-mat{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.barra-progresso-pai{
    margin-top: 2rem;
    text-align: center;
}

.barra-progresso-pai p {
    font-size: 1.25rem;
}

#barra-progresso-trilha-aluno{
    width: 33%;
}

.atividades-aluno-pai{
    margin: 2rem 0 ;
    position: relative;
}

.atividades-aluno-pai button{
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
    top: 10px;
}

.atividades-aluno-pai button img{
    width: 40px;
    height: 40px;
}
