.container-atividades{
    border: 1px solid var( --color-2);
    border-radius: 5px;
    height: 50vh;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: center
}

@media (max-width: 600px){
  .container-atividades{
    flex-direction: column-reverse;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.container-atividades::-webkit-scrollbar {
    width: 6px; 
    height: 6px;            
}
  
.container-atividades::-webkit-scrollbar-thumb {
    background-color: var(--color-3);  
    border-radius: 20px;      
}

